<!DOCTYPE HTML>

<html>
    <head>
    <title>Markov Tweet Generator</title>
</head>

<body>
    <h1>Markov Tweet Generator</h1>

    <form id="user-search">

        <input type='username' placeholder='Enter a username' name='username' id='username' required>
        <!-- <input type='number' placeholder='Enter a chain length (recommended 3)' min='2' max='10'> </label><br> -->
        <input type='submit'>
    </form>

    <ul id='tweets'>
    </ul>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/homepage.js"></script>
</body>

</html>